html {
    font-family: Cabin;
}

h1 {
    text-align: center;
    margin-bottom: auto;
    background-color: #f5cb5c;
    width: fit-content;
    align-self: center;
    padding-left: 15px;
    padding-right: 15px;
    
}

.banner {
    background-color: #333533;
    height: 20%vh;
    min-height: 150px;
    padding: 35px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
}

.homeTab, .aboutTab {
    background-color: #f5cb5c;
    width: 70%;
    max-width: 700px;
    height: 80vh;
    margin: auto;
    padding: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.homeTab div {
    font-size: 22px;
    width:80%;
    align-self: center;
    text-align: center;
    margin-top: 36px;
}

.homeTab p {
    width:70%;
    align-self: center;
}


.aboutTab div {
    font-size: 22px;
    padding-bottom: 12px;
    padding-left: 22px;
    margin-top: auto;
}

.aboutTab img {
    
    margin: 15px auto auto auto;;
    padding: 0px 15px 15px 15px;
}

.navigation {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap:12px;
}
.active{
    background-color: #f5cb5c;
}
.inactive {
    background-color: #ad9459;
}
.navigation div {
    
    font-size: 22px;
    border-style: solid;
    border-bottom-style: none;
    padding: 5px 5px 0px 5px;
}


body {
    background-color: #cfdbd5;
    
}